body{
   margin:0px ;
   padding: 0px;
 
}

.container{
    width:1200px ;
    margin: auto;
    


}

.header{

    background-color: #0890ff;
    background-image:linear-gradient(to top, #ff2f2f,#4ff019,#2f90ff);
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin:0px ;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image:linear-gradient(to top, #FF512F,#F09819,#FF512F)  ;

}

.link{
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right:10px ;
  text-decoration: none;
  background-color: rgb(250, 172, 5);
  color: #000;
  border-radius: 5px;
  background-image:linear-gradient(to top, #fed002,#fe5102,#FF512F)  ;
    
 

}

.link:hover{

    background-color: rgb(255, 0, 0);
    font-weight: 700;
}


.gallery{
  background-color: beige;
  padding-top: 40px;
  padding-left: 40px;
  background-image:linear-gradient(to top, #ff2f2f,#4ff019,#2f90ff);

}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    padding-left: 0px;
    padding-right: 0px;

}

.gallery-iton{

    width:350px ;
    height: 250px;

}


button{
    display: flex;
font-size: 24px;
  font-weight: 700;
  background-color: rgb(208, 255, 1);
  padding-top: 10px;
  padding-right:20px;
  padding-bottom: 10px;
  padding-left:20px;
  margin:  auto;
  justify-content: center ;
     
}


button:focus{
    background-color: rgb(8, 0, 255);
    font-size: 24px;
  font-weight: 700;
  
  

}

button:hover{
    background-color: rgb(19, 227, 0);
    font-size: 24px;
  font-weight: 700;
  box-shadow: -5px 3px 3px rgb(0, 0, 255),-7px 5px 3px rgb(0, 255, 13),-10px 7px 3px rgb(255, 0, 0) ;;
   
   ;;
  
  
}


 box-shadow: -5px 5px 0px rgb(0, 0, 255) ;
  box-shadow: inset 5px 0 0 rgb(166, 0, 255) ;
  background-image: linear-gradient(to top, rgb(233, 254, 0),rgb(0, 106, 255))  ;
   